.keyboard {
    display: block;
    background: linear-gradient(20deg, rgba(50,14,59,1) 0%, rgba(15,2,19,1) 61%);
    border-bottom-right-radius: 30px;
}

.keyboard button {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
}

.white, .wactive {
    height:14em;
    width:4em;
    z-index:1;
}

.keyboard .black, .keyboard .bactive {
    height:8em;
    width:2em;
    margin:0 -1em 0 -1em;
    z-index:2;
}

.keyboard .white {
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}
  
.keyboard .white:active,
.wactive {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(82deg, rgba(137,79,235,1) 0%, rgba(65,32,117,1) 61%);
}
  
.keyboard  .black {
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
}
  
.keyboard .black:active,
.bactive {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
}
  
.white .A,.white .G,.C {
    margin:0 0 0 -1em
}
  
.keyboard button:first-child {
    border-radius:5px 0 5px 5px
}
  
.keyboard button:last-child {
    border-radius:0 5px 5px 5px
}

